/* 3 - External CSS file */
body {
    background-color: powderblue;
  }
  h1 {
    color: #ae00ff;
  }
  h2 {
    color: red;
  }


  hr {
    background-color: #ae00ff; 
    width: 100%;
    height:10px; }

/* 4 - Use the class selector */
    .picture {
      border: 5px solid black;
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

/* 5 - Use an id selector */
  #test{
    color: blueviolet;
    font-size: 40px;
    text-align: center;
  }
  .test{
    color: blueviolet;
    font-size: 40px;
    text-align: center;
  }
  #line{
    background-color: #ae00ff; 
    width: 40%;
    height:10px;
  }
  .line{
    background-color: #ae00ff; 
    width: 40%;
    height:10px;
  }

/* 6 - two different class styles */
  .class1 {
    font-weight: bold;
    font-size: 30px;
}
  .class2 {
    color: rgb(255, 0, 187);
  
}

/* 7 - add 6 images with rounded corners */
  .border {
    border-radius: 37px;
    width: 250px;
    border-color: black;

}
table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}
tr:hover {
  background-color: rgb(85, 9, 92);
}
.textCenter{
  text-align: center;
  font-weight: bold;
}
.personal{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.external{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
